html{
    font-size: 10px;
}
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #777;
	font: 300 1.5rem/1 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-weight: normal;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
textarea{
	resize: vertical;
}
/* === Default Styles === */

/* Tools bar */
.tools{
    display: flex;
    align-items: center;
    height: 7.5rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: .5rem 1.5rem;
}

.current-color{
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
}

.btn{
    font-size: 1.5rem;
}

.eraser{
    font-size: 3rem;
}

.tools .btn-clear{
    margin-left: 1rem;
    background-color: #fff;
    border: 1px solid grey;
    height: 5rem;
    border-radius: 10%;
}
.select{
    display: inline-flex;
    flex-direction: column;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #000;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #000;
    color: #000;
}
.select .selectLineWidth {
    margin-top: 10px;
}

/* Tools bar end */

/* Canvas field */

.field{
    background-image: url(../img/fer-de-lance.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    cursor: url(../img/pensil.png), crosshair;
}
#canvas{
    display: block;
    background-color: #fff;
}